html{
    font-size: 62.5%
}

.cajita{
    padding: 10rem ;
    height: 150rem;
    background-color: aqua; 
    margin: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 5%;
}
.cajita_2{
   
    height: 20rem;
    width: 20rem;
    background-color:azure; 
    margin: 1.5rem 1rem 108rem 1rem;
    border-radius: 100%;
}
.cajita_3{
    height: 0.6rem;
    margin: 1rem 1.5rem 1rem  1.5rem;
    background-color:azure;
    width: 8rem;
     padding: 15rem 55rem 1.5rem 10rem;
    border-radius:20px;
    text-align: center;
   
}
 padding: 150px 550px 15px 100px;
